.layout {
    height: 100vh;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 80px auto 80px;
    grid-template-areas:
        'hd hd'
        'sd mn'
        'ft ft';
}